/******************************************/
/***************** HEADER *****************/
/******************************************/

h2 {
    background-color: #d9dad1;
    border-bottom: 5px solid black;
    font-size: 50px;
    margin: 0;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
}



/******************************************/
/*************** MAIN BODY ****************/
/******************************************/

body {
    background-color: #86bede;
    font-family: "Comic Sans MS", Sans-Serif;
    margin: 0;
    text-align: center;
}

.wrapper {
    position: relative;
}

table {
    background-color: #d9dad1;
    border: 15px double black;
    border-spacing: 0;
    height: 500px;
    margin: 0 auto;
    position: relative;
    width: 500px;
}
td {
    border: none ;
}



/******************************************/
/**************** BUTTONS *****************/
/******************************************/

button {
    background-color: #f9ffa0;
    border: 2px solid #86bede;
    font-family: "Comic Sans MS";
    font-size: 14px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
}

button:hover {
    border: 2px solid #000;
}

.current-style {
    border: 2px solid #DE7777;
}


/******************************************/
/***************** FOOTER *****************/
/******************************************/

footer {
    bottom: 0;
    font-size: 13px;
    position: relative;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 5px 0;
}



